$font-roboto: "Roboto", sans-serif;
$font-lato: "Lato", sans-serif;

$color-light: #fff;
$color-dark: #23272f;

$color-gray-light: #f9f9f9;
$color-gray-dark: #191c22;

$btn-bg-light: royalblue;
$btn-bg-hover-light: rgb(86, 125, 242);

$btn-bg-dark: rgb(245, 247, 255);
$btn-bg-hover-dark: rgb(202, 214, 252);

$btn-color-light: #fff;
$btn-color-dark: royalblue;

:root {
  --color-all: royalblue;
  --header-height: 70px;
  --sidebar-width: 300px;
  --sidebar-min-width: 80px;

  --danger-color-light: rgb(243, 84, 116);
  --danger-color-dark: crimson;

  --body-bg-light: #{$color-light};
  --body-bg-dark: #{$color-dark};
  --body-bg-default: var(--body-bg-light);

  --content-bg-light: #{$color-gray-light};
  --content-bg-dark: #{$color-gray-dark};
  --content-bg-default: var(--content-bg-light);

  --text-color-light: #{$color-dark};
  --text-color-dark: #{$color-light};
  --text-color-default: var(--text-color-light);

  --btn-bg-light: #{$btn-bg-light};
  --btn-bg-dark: #{$btn-bg-dark};
  --btn-bg-default: var(--btn-bg-light);

  --btn-bg-hover-light: #{$btn-bg-hover-light};
  --btn-bg-hover-dark: #{$btn-bg-hover-dark};
  --btn-bg-hover-default: var(--btn-bg-hover-light);

  --btn-color-light: #{$btn-color-light};
  --btn-color-dark: #{$btn-color-dark};
  --btn-color-default: var(--btn-color-light);
}
