.modal {
  position: fixed;
  inset: 0px;
  display: grid;
  place-items: center;
  background-color: rgba(#000, 0.5);
  backdrop-filter: blur(5px);
  z-index: var(--z-index-modal);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 300ms, visibility 300ms;

  &.show {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}

.modalContainer {
  max-height: 90vh;
  max-width: 500px;
  width: 100%;
  margin-inline: auto;
  background-color: var(--content-bg-default);
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 15px 30px 0 rgba(#000, 0.25);
  @media (max-width: 600px) {
    width: 90%;
  }
}

.modalContainerHeader {
  padding: 20px 34px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.modelContainerTitle {
  display: flex;
  align-items: center;
  gap: 8px;
}

.iconButton {
  display: flex;
  padding: 0px;
  font-size: clamp(20px, 2vw, 25px);
}

.modalContainerBody {
  padding: 24px 32px 51px;
  overflow-y: auto;
}
